{% extends'base.html' %}

{%  block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>Home Page</h1>
    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p> Welcome to The Funside's Blog!! here you will be talking and getting amazing memes and other things.You can find amazing, trending and cool memes and many more. </p>
                <p> Go visit our <a href="https://www.youtube.com/channel/UCUp5oelVwqTGiMV6bsrjBnw/featured">YouTube Page</a> for more memes. We upload memes every week. </p>
                <p>
                    <a class="btn btn-primary" href="/posts" role="button">View Blog Posts &raquo;</a>
                </p>
            </div>
        </div>
    </main>

{% endblock %}